body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.modal-height {
  max-height: calc(100vh - 130px);
  overflow: auto;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.mt-165 {
  margin-top: -165px !important;
}

.bt-table {
  width: 100%;
  overflow: auto;
}

.pagination-btn {
  min-width: 75px;
}

.pointer {
  cursor: pointer;
}

.loading-dialog {
  z-index: 99
}

table.table-set th{
  width: 50% !important;
  padding: 16px !important;
}

table.table-set td{
  padding: 16px !important;
}